

<title>{% block page_title %}
        Welcome to blog!
    {% endblock %}

</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="{{asset('assets2/js/jquery.min.js')}}" ></script>
<link href="{{asset("assets2/css/bootstrap-rtl.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets2/css/icons.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets2/css/style_red.css")}}" rel="stylesheet" type="text/css">
<link href="{{asset("assets2/css/mystyle.css")}}" rel="stylesheet" type="text/css">


