<!DOCTYPE html>
<html  lang="fa" dir="rtl">
<head>
    {% include('front/partial/inner/head.html.twig') %}
</head>
<body>

<!--========== Header ==========-->
{% include('front/partial/inner/header.html.twig') %}


<div class="clearfix"></div>

<!-- new content starts here -->

<div id="wrapper">

    <div class="left side-menu">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="">
                <a href="#" class="logo text-center"> App Name</a>
            </div>
        </div>
        <div class="sidebar-inner slimscrollleft">
            {% include('front/partial/inner/side_bar.html.twig') %}
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!-- Top Bar Start -->
            {% include('front/partial/inner/top_bar_main.html.twig') %}
            <!-- Top Bar End -->

            <div class="page-content-wrapper">
                <div class="container-fluid">

                    {% block content %} {% endblock %}

                </div>

            </div>

        </div>

        {% include('front/partial/inner/footer.html.twig') %}

    </div>

</div>




<script src="{{asset('assets2/js/jquery.min.js')}}" type="text/javascript"></script>


<script src="{{asset('assets2/js/popper.min.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/modernizr.min.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/jquery.slimscroll.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/jquery.scrollTo.min.js')}}" type="text/javascript"></script>
<script src="{{asset('assets2/js/waves.js')}}" type="text/javascript"></script>

<!-- App js -->
<script src="{{asset('assets2/js/app.js')}}" type="text/javascript"></script>
<script src="{{asset('assets/admin/own/master.js')}}" type="text/javascript"></script>



</body>
</html>